@font-face{
  font-family:fira;
  src:url("fonts/FiraCode-VariableFont_wght.ttf")
}
@font-face{
  font-family:barcode;
  src:url("fonts/LibreBarcode128Text-Regular.ttf")
}
@font-face{
  font-family:marker;
  src:url("fonts/PermanentMarker-Regular.ttf");
}
 /* Scrollbar */
 ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000644;  
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292b44;
}
body{
  overflow-x:hidden;
  background-color:#010529;
  margin: 0px;
  padding: 0px;
}
button{
  cursor:pointer;
}
a{
  cursor:pointer;
}
.header{
  display:flex;
  flex-direction:column;
  text-align:center;
  width:99%;
  height:80vh;
  padding-top: 20vh;
  padding-bottom:0vh;
  margin-bottom:0px;
}