@font-face{
  font-family:fira;
  src:url("fonts/FiraCode-VariableFont_wght.ttf")
}
@font-face{
  font-family:barcode;
  src:url("fonts/LibreBarcode128Text-Regular.ttf")
}
@font-face{
  font-family:marker;
  src:url("fonts/PermanentMarker-Regular.ttf");
}
@font-face{
    font-family: neonderthaw;
    src:url("fonts/Neonderthaw-Regular.ttf");
}
@font-face{
    font-family: tiltneon;
    src:url("fonts/TiltNeon-Regular-VariableFont.ttf");
}
@font-face{
    font-family: warnes;
    src:url("fonts/Warnes-Regular.ttf");
}
@font-face{
    font-family: monoton;
    src:url("fonts/Monoton-Regular.ttf");
}
 /* Scrollbar */
 ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000644;  
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292b44;
}
body{
  overflow-x:hidden;
  background-color:#0f0024;
  margin: 0px;
  padding: 0px;
}
button{
  cursor:pointer;
}
a{
  cursor:pointer;
}
.header{
  display:flex;
  flex-direction:column;
  text-align:center;
  width:99%;
  height:80vh;
  padding-top: 20vh;
  padding-bottom:0vh;
  margin-bottom:0px;
}

h1{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 15vh;
    font-family: monoton;
    font-size: 9vw;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 0 0 3vw whitesmoke;
    text-align: center;
}

h2{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:99%;
    padding-top: 10vh;
    font-family: fira;
    font-size: 2vw;
    color: whitesmoke;
    text-shadow: 0 0 1vw whitesmoke;
}
hr{
    width: 75%;
    box-shadow: 0 0 1vw whitesmoke;
    height: 1vw;
    background-color: whitesmoke
}
@keyframes flicker{
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    text-shadow: 0 0 3vw whitesmoke;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    text-shadow: none;
	opacity: 0.4;
	}
}
.slow{
    animation: flicker 3s linear infinite;
}
.fast{
    animation: flicker 1s linear infinite;
}
