@font-face{
  font-family:fira;
  src:url("fonts/FiraCode-VariableFont_wght.ttf")
}
@font-face{
  font-family:barcode;
  src:url("fonts/LibreBarcode128Text-Regular.ttf")
}
@font-face{
  font-family:marker;
  src:url("fonts/PermanentMarker-Regular.ttf");
}
@font-face{
    font-family: neonderthaw;
    src:url("fonts/Neonderthaw-Regular.ttf");
}
@font-face{
    font-family: tiltneon;
    src:url("fonts/TiltNeon-Regular-VariableFont.ttf");
}
@font-face{
    font-family: warnes;
    src:url("fonts/Warnes-Regular.ttf");
}
@font-face{
    font-family: monoton;
    src:url("fonts/Monoton-Regular.ttf");
}
 /* Scrollbar */
 ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0f0024;  
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #170038;
}
body{
  overflow-x:hidden;
  background-color:#0f0024;
  margin: 0px;
  padding: 0px;
}
button{
  cursor:pointer;
}
a{
  cursor:pointer;
}
#toplink{
    font-family: monoton;
    color: whitesmoke;
    font-size: 7vh;
    font-weight: 300;
    text-align:left;
    margin:0;
    padding: 1vw;
    margin-bottom: 0;
    animation: titleFlicker 3s linear infinite;
    /* align-self:center; */
}
#header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding-top: 0;
    margin-top: 0;
    /* background-color: red; */
}
#topTabs{
    flex: 1;
    text-align:center;
    /* background-color: green; */
    width: 30vw;
}
#hide{
    font-family: monoton;
    font-size: 7vh;
    font-weight: 300;
    text-align:right;
    margin:0;
    padding: 1vw;
    margin-bottom: 0;
    animation: titleFlicker 3s linear infinite;
    visibility: hidden;
}
@keyframes titleFlicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
	text-shadow: 0 0 3vh whitesmoke;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
    }
}
h1{
    color: whitesmoke;
    font-family: fira;
    text-shadow: 0 0 3vw whitesmoke;
}
